<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
      <meta charset="utf-8">
      <title></title>
   </head>
   <body>
     <form id="storeform" action="/" method="POST">
       <input type="text" name = "postcode" placeholder="Postcode">
       <input type="text" name = "radius" placeholder="Radius">
       <button type="submit">Search stores</button>
     </form>
     <table class="table table-bordered table-condensed" id="StoreData">
         <tr>
            <th>County / Admin district</th>
            <th>Postcode</th>
            <th>Longitude</th>
            <th>Latitude</th>
         </tr>
         {% for Postcode, LongLat in LocationData.items() %}
         <tr>
           <td>{{ LongLat[0] }}</td>
           <td>{{ Postcode }}</td>
           <td>{{ LongLat[1] }}</td>
           <td>{{ LongLat[2] }}</td>
         </tr>
        {% endfor %}
      </table>
      </div>
   </body>
   <style media="screen">

   #storeform {
     margin-left: 700px;
     margin-top: 50px;
     margin-bottom: 50px;
   }

   #StoreData {
     margin: 10px auto;
     padding: 10;
     width: 100%;
     height: auto;
     border-collapse: collapse;
   }

   </style>
</html>
